
 .product-img-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
  }
  
  .product-img-holder::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  #button-buy{
      z-index: 1;
      position : fixed;
      right: 18px;
      top: 10px;
  }

  .product-img{
    position: absolute;
    left: 0px;
    top: 0;
    width: 500px;
    height: 540px;
    border-radius: 2em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1.2s;
  }

  .prod-holder{
    background-image: radial-gradient(transparent 70%, rgba(0, 0, 0, 0.075));
    background-image: radial-gradient(closest-corner at 20% 93%, rgba(0, 0, 0, 0.3), transparent );
  }

.desc-title{
    font-size: 2.75em;
}

#img-container{
    background-image: radial-gradient(transparent 80%, rgba(0, 0, 0, 0.075));
    display: block;
    justify-content: center;
    text-align: center;
  }

#img-container > img{
    border-radius: 1em;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


@media(max-width: 1000px){
      #button-buy{
          display: none;
      }
      .product-img{
        position: absolute;
        left: 0px;
        top: 0;
        width: 400px;
        height: 400px;
        border-radius: 2em;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 1.2s;
      }
    
  }

  @media(max-width: 550px){
    .product-img{
      display:block;
      position: initial;
      border-radius: 2em;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 1.2s;
    }
  }

  /* Popup box BEGIN */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: rgba(48, 48, 48, 0.8);
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  height: auto;
  min-height: 50vh;
  position: relative;
  padding: 15px 5%;
}
.popupCloseButton {
  border-radius: 50px;
  color: lightgray;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  color: white;
}
/* Popup box BEGIN */

.trigger_popup_fricc:hover{
  color: white !important;
  cursor: pointer;
}

video{
  width: 100%;
}