
{% extends "page.twig" %}

{% block customstyles %}
<style>
main{
    background-image: url('resources/blossom_bg-bottom.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
    background-size:contain;
    min-height: 80vh !important;
}
.jumbotron{
    background-color: transparent !important;
}
</style>
{% endblock %}

{% block content %}
    
<div class="jumbotron">
    <div class="container container-about justify-content-center">
        <span>
        <h1 class="display-4" style='font-size:1.5em; float:left'>
         Kind comments written by our customers
         </h1>
         <img style='float : right' src='resources/qianliLogoBlack.png' alt='QianLi' width='150'> 
         </span>
        <br><hr><br>

        {% for com in comments %}

        <blockquote class="blockquote py-4 col-10 m-auto text-center">
            <p class="mb-0"><i class="fa fa-quote-left" aria-hidden="true"></i> {{com.text}} <i class="fa fa-quote-right" aria-hidden="true"></i></p>
            <footer class="blockquote-footer"><cite title="Source Title">{{com.sender}}</cite></footer>
        </blockquote>
        
        {% endfor %}
       
</div>

{% endblock content %}
  









  
                                    
                                
                            
                    
                
                                    
                                    
                                
                            
                    
                
           
        

