
{% extends "page.twig" %}

{% block content %}
 {% if google_allowed == false %}
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
 {% endif %}
                           
    <div class = "jumbotron" id='jum'>
    
        <div class="container">
            <h2 class="card-title font-weight-light">Contact us</h2> <hr>
                <div class="row justify-content-center">
                    <div class="col-md-2 mx-1 boxi">
                        <h5 class="card-title">WeChat</h5>
                            <img src="resources/contact/wechat.png" class ="img-thumbnail mx-auto d-block" id="imageMail" alt= "image">
                                <div class="footer">
                                    <button class="btn btn-block" id= "buttonArrow" type="submit" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                                        <i class= "fa fa-angle-down" style='font-size: 25px;'  style='text-align:center;' aria-hidden="true"></i>     
                                    </button>    
                                     <div class="collapse" id="collapse">
                                       
                                           
                                            <img src = "resources/contact/qrcode.png" class ="img-thumbnail mx-auto d-block" id="imagqr" alt= "image">
                                            </div>
                                       
                                                                      
                                        
                                </div>
                                  
                    </div>
                       
                <div class="col-md-2 mx-1 boxi">
                    <h5 class="card-title">WhatsApp</h5>
                    <img src="resources/contact/whatsapp.png" class ="img-thumbnail mx-auto d-block" id="imageMail" alt= "image">
                    <div class="footer">
                        <button class="btn btn-block" id= "buttonArrow" type="submit" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                            <i class="fa fa-angle-down"  style='font-size: 25px;' aria-hidden="true"></i>
                        </button>  

                        <div class="collapse" id="collapse">
                                                <div class ="card card-body sizingBody">
                                                        <p>
                                                            <b>WhatsApp (Wenson):</b>
                                                        </p>
                                                             <p>
                                                                 +86 185 6560 1289 <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                            </p>
                                                        
                                                </div>
                                        </div>                                      
                        
                    </div>
                </div>

                
                <div class="col-md-2 mx-1 boxi">
                    <h5 class="card-title">Facebook</h5>
                    <img src="resources/contact/facebook.png" class ="img-thumbnail mx-auto d-block" id="imageMail" alt= "image">
                    <div class="footer">
                        <button class="btn btn-block" id= "buttonArrow" type="submit" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                            <i class="fa fa-angle-down"  style='font-size: 25px;' aria-hidden="true"></i>
                        </button>                                        
                        <div class="collapse" id="collapse">
                            <div class ="card card-body">
                                <a href="https://www.facebook.com/people/Qian-Li/100013767042137"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                                 Go to our Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 mx-1 boxi">
                    <h5 class="card-title">Instagram</h5>
                    <img src="resources/contact/insta2.jpg" class ="img-thumbnail mx-auto d-block" id="imageMail" alt= "image">
                    <div class="footer">
                       <button class="btn btn-block" id= "buttonArrow" type="submit" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                           <i class="fa fa-angle-down"  style='font-size: 25px;' aria-hidden="true"></i>
                        </button>                                        
                        <div class="collapse" id="collapse">
                            <div class ="card card-body">
                                <a href="https://www.instagram.com/qianli_and_tool_plus/"><i class="fa fa-instagram Insticons" aria-hidden="true"></i></i>
                                Go to our Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="container mt-5" id='email'>
            <h2 class="card-title font-weight-light">Email us</h2> <hr>
           <p class='text-center font-weight-light' style="font-size: 1.4em"> <a href="mailto:SHENZHENPOTENTIAL@gmail.com">SHENZHENPOTENTIAL@gmail.com </a> </p>
        </div>
       
        
        
    </div>

    <section class='bg-dark ' id='mapSection'>
       <h3 class= "card-title text-light font-weight-light pt-2" id="adress">Visit us</h3> 
        {% if google_allowed == true %}
        <p class="text-center text-muted">#6908，Floor 69，SEG Plaza，Huaqiang North，Futian District，Shenzhen，China</p>
        <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAjn4ZgVNw7eXxb9M_5gW1yP3DTCX_Ra2I'></script>
        <div style='overflow:hidden;height:400px;width:100%;' >
            <div id='gmap_canvas' style='height:400px;width:100%;'>
                <style> #gmap_canvas img{max-width:none!important;background:none!important} </style>
            </div>
            <script type='text/javascript'>
                function init_map() {
                    var myOptions = {zoom: 14, center: new google.maps.LatLng(22.541472,114.0853558,17), mapTypeId: google.maps.MapTypeId.ROADMAP};
                    map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                    marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(22.541472,114.0853558,17)});
                    infowindow = new google.maps.InfoWindow({content: '<strong>QianLi</strong><br>#6908，Floor 69，SEG Plaza，Huaqiang North，Futian District，Shenzhen，China<br>'});
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    infowindow.open(map, marker);
                }
                google.maps.event.addDomListener(window, 'load', init_map);
             </script>
         </div>
        {% endif %}
        {% if google_allowed == false %}
            <p class="text-center text-muted">深圳市福田区华强北街道福强社区华强北路1002号赛格广场6908A</p>
            <!--百度地图容器-->
            <div style="height:400px;width:100%;border:none; background-color:e8e5e1;" id="dituContent"></div>
            <script type="text/javascript">
                //创建和初始化地图函数：
                function initMap(){
                    createMap();//创建地图
                    setMapEvent();//设置地图事件
                    addMapControl();//向地图添加控件
                }
                
                //创建地图函数：
                function createMap(){
                    var map = new BMap.Map("dituContent");//make map
                    var point = new BMap.Point(114.093876,22.547174);//set the coordinates
                    map.centerAndZoom(point,21);//(set the coordinates in the center of the map, zoom size)
                    window.map = map;//save map in the window
                    var marker = new BMap.Marker(point);  // make mark
                    map.addOverlay(marker);               // put mark in the map 
                }
                
                
                //地图事件设置函数：
                function setMapEvent(){
                    map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
                    map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                    map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
                    map.enableKeyboard();//启用键盘上下左右键移动地图
                }
                
                //地图控件添加函数：
                function addMapControl(){
                    //向地图中添加缩放控件
                var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
                map.addControl(ctrl_nav);
                    //向地图中添加缩略图控件
                var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
                map.addControl(ctrl_ove);
                    //向地图中添加比例尺控件
                var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                map.addControl(ctrl_sca);
                }
                
                
                initMap();//创建和初始化地图
            </script>
        {% endif %}
    </section>

{% endblock content %}
