<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Todo : Complete the meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{meta.description}}">
    <meta name="author" content="{{meta.author}}">
    <title>{{meta.title}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon.png">
    <link rel="icon" type="image/png" href="faviconx32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="faviconx16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="tab.svg" color="#9d2829">
    <meta name="theme-color" content="#9d2829">

    <!-- Bootstrap core CSS-->
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles -->
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link type="text/css" rel="stylesheet" href="css/chat.css">
    {% block customstyles %}
        
    {% endblock customstyles %}

     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  </head>

  <body>
    <header id='header'>
        {% include "components/navbar.twig" %}
        {% block header %}

        {% endblock %}
    </header>

    <main>
            {% block content %}

            {% endblock %}

            
            <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-default" >
                        <div id="panel-header" class="panel-heading top-bar bg-dark">
                          <div class="row">
                            <div class="col-9">
                              <span class="panel-title" id="title-container">
                                    <span class="font-weight-normal">Ask our team</span>
                                    <span id='connectionStateCircle' style="color: #06FEFE;"><i class="fa fa-circle" aria-hidden="true"></i></span><br>
                                    <span class="text-light font-weight-light" id='cntime'>Current time in China : <span id="timeChina"></span></span>
                                </span>
                            </div>
                            <div class="icons col">
                               <a id='icon_minim' onclick="collapseWindow()">
                               <i class="btncolor fa fa-plus-circle" aria-hidden="true"></i>
                               </a>
                            </div>
                          </div>
                        </div>

                        <div id="panel-body" class="msg_container_base panel-collapsed">
                            <div class="row msg_container base_sent">
                                
                            </div>
                        </div>
                           
                        <div id="panel-footer">
                            <div class="input-group">
                                <input id="txt-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                <span class="input-group-btn">
                                <button class="btn btn-primary btn-block" id="btn-chat" onclick="sendMessage()">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>

    {% include "components/footer.twig" %}

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/chat.js"></script>
        {% block script %} {% endblock %}
  </body>
</html>