
{% extends "page.twig" %}

{% block customstyles %}
    <link type="text/css" rel="stylesheet" href="css/product_page.css">
{% endblock customstyles %}

{% block content %}
  <a class="btn btn-outline-secondary" id="button-buy" href="{{product.buy_link}}">Where to buy ?</a>
  <div class="row overflow-hidden p-3 p-md-5 m-md-3 text-right bg-light prod-holder">
      <div class="col-md-6 p-lg-5 my-4">
        <div class="product-img" style="background-image: url('{{product.mainPic}}')" )></div>
      </div>
        <div class="col-md-5 p-lg-5 my-5">
          <h1 class="display-4 font-weight-light">{{product.title}}</h1>
          <p class="lead font-weight-normal">
              {{product.description}}
            </p>
            {% if product.video_link %}
          <a class="btn btn-outline-secondary text-muted trigger_popup_fricc">Video</a>
          {% endif %}
          <a class="btn btn-outline-secondary" href="{{product.buy_link}}">Where to buy ?</a>
      </div>
    </div>
  </div>

 {% if product.video_link %}
<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <span class="popupCloseButton font-weight-light">x</span>
        <video id='media-video' controls>
        <source src="{{product.video_link}}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
    </div>
</div>
{% endif %}

  <div class='p-md-5 m-md-3 text-center mx-auto p-2' id='img-container'>
    {% for value in product.folder %}
      <img src="{{value}}" alt="picture of {{product.title}}" >
    {% endfor %}
  </div>

{% endblock content %}

{% block script %}
<script>
 {% if product.video_link %}
$(window).on('load',(function () {
    $(".trigger_popup_fricc").click(function(){
      var mediaVideo = $("#media-video").get(0);
       $('.hover_bkgr_fricc').show();
       if (mediaVideo.paused) {
       mediaVideo.play();
      }
    });
    $('.hover_bkgr_fricc').click(function(){
        $('.hover_bkgr_fricc').hide();
        var mediaVideo = $("#media-video").get(0);
        mediaVideo.pause();
    });
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
}));
{% endif %}
</script>
{% endblock %}